clasedificios

# entorno
.env
*.env

# caches
osmnx_cache/

# outputs pesados
out/comparison/
out2/comparison2/


# datos crudos grandes
raw_data/
data/

# archivos pesados típicos
*.geojson
*.pickle
*.json
*.shp
*.zip

# logs
*.log